<article class="md:p-2 p-1">
    <img src="https://malvaonline.com/cdn/shop/products/KARASKIRTBLAC_WEBP_720x.jpg" alt="producto" class="w-full h-auto">
    <section class=" md:gap-y-3 gap-y-2">
        <div class="flex w-full hidden">
            <span class="w-5/12 md:my-2 md:mx-3 bg-slate-600 rounded text-center capitalize">exclusivo</span>
            <span class="w-5/12 md:my-2 md:mx-3 bg-slate-600 rounded text-center capitalize">exclusivo</span>
        </div>
        <h2 class="text-md font-bold text-gray-900 w-full text-center">producto</h2>
        <h3 class="flex w-full ">
            <small class="text-center w-full" >SKU: 1231231231</small>
        </h3>
        <section class="flex price items-center gap-x-2 justify-center">
            <small><del>COP: 400000</del></small>
            <h4>COP 300000</h4>
        </section>
        
    </section>
</article>